<template>
  <div id="app">
    <!-- Componente num UNO -->
    <!-- Componente directivas -->
    <img alt="Vue logo" src="./assets/qr.png" />
    <CmpDirectivas />

    <!-- Componente num DOS -->
    <!-- <h3>EstilosCmp</h3> -->
    <cmpEstilos></cmpEstilos>

    <!-- Cuarto Componente -->
    <!-- Nombre componente -->
    <!-- <EtiquetaComp></EtiquetaComp> -->
    
    <div>
      <button id="cupon" @click="mostrar = !mostrar">
        {{ mostrar ? "CERRAR MENSAJE" : "VER MENSAJE" }}
      </button>
      <CmpAsincronos v-if="mostrar" />
    </div>

    <!-- Componente tercero -->
    <!-- Modificadores eventos -->
    <CmpModificadores></CmpModificadores>
  </div>
</template>

<script>

import CmpDirectivas from "./components/CmpDirectivas";
import CmpModificadores from "./components/CmpModificadores";
import CmpEstilos from "./components/CmpEstilos";


//se carga en la carga inicial.
//import CmpAsincronos from "./components/CmpAsincronos";
export default {
  name: "App",
  data() {
    return {
      mostrar: false,
    };
  },
  components: {
    //crea un archivo separado por cada modulo importado
    CmpAsincronos: () => import("./components/CmpAsincronos"),
    CmpEstilos,
    CmpDirectivas,
    CmpModificadores,
    
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#cupon {
  background-color: aqua;
  font-size: 50px;
}
</style>
