<template>
  <div>
    <h1>Bienvenidos, al BLACK FRIDAY</h1>
  </div>
</template>

<script>
export default {
  data () {
    return {
      "param": "Bienvenidos, al BLACK FRIDAY",
    }
  }
};
</script>

<style>
* {
  background-color:wheat;
}
</style>