<template>
  <div>
    <div>
      <button type="button" v-show="!sumados"  @click="cambiarNumero1(-1)">Restar 1</button>
      <span v-show="!sumados">{{numero1}}</span>
      <button type="button" v-show="!sumados" @click="cambiarNumero1(1)">Sumar 1</button>
        <br>
      <button type="button" v-show="!sumados"  @click="cambiarNumero2(-1)">Restar 1</button>
      <span v-show="!sumados">{{numero2}}</span>
      <button type="button" v-show="!sumados" @click="cambiarNumero2(1)">Sumar 1</button>
      <br>
      <button type="button" v-show="!sumados" @click="sumar(numero1,numero2)">Sumar numeros</button>
      
      <button type="but button" v-show="sumados" @click="volverSumar()">Dale click para volver a sumar</button>
      <br>
      <span v-show="sumados && numero1==0 && numero2 ==0">Debes sumar numeros enteros mayores o menores a 0</span>
      <br>
      <span v-show="sumados">Resultado: {{suma}}</span>
    </div>
    <p v-if="sumados && suma>0">Positivo</p>
    <p v-else-if="sumados && suma==0"> Neutral </p>
    <p v-else > Negativo</p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      numero1: 0,
      numero2: 0,
      suma: 0,
      sumados: false,
    }
  },
  methods: {
    cambiarNumero1(cantidad) {
      this.numero1 += cantidad;
    },

    sumar (numero1,numero2){
        this.suma += numero1+numero2;
        this.sumados = true;
    },
    cambiarNumero2(cantidad) {
      this.numero2 += cantidad;
    },

    volverSumar(){
        this.suma = 0;
        this.sumados = false;
    }


  }
}
</script>

<style scoped>

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
button{
    background-color: darkgray; 
    
}

</style>