<template>
  <div>
    <!-- Lo que vamos a ver es como aplicar a nuestros componentes estilo de forma dinámica a través de la propiedad style y class -->

    <!-- Parrafos del Ejemplo  -->
    <p :style="{backgroundColor: 'black', color: color}">Le aplicamos estilos con el atributo style</p>
    <p :class="{fondoNegro: activado, letraNaranja: true}">Le aplicamos estilos con el atributo class</p>
    <!-- Aqui aplicamos estilo al div mediante la propiedad style directamente los estilos y el color lo recogemos de las propiedades de data -->
    <div :style="{backgroundColor: 'black', textAlign: 'center', color: color2, width:'300px', height:'300px'}">
      <p> Esto es un parrafo1 en un div1</p>
      <p> Esto es un parrafo2 en un div1</p>
    </div>
    <!-- Aqui aplicamos estilo al div mediante el atributo class este recibe un objeto con el nombre de las
    clases como claves y un booleano indicando si se tienen que aplicar o no. -->
        <div :class="{alto:true,ancho:true,fondoAzul:true,textoDerecha:activado}">
      <p> Esto es un parrafo1 en un div2</p>
      <p> Esto es un parrafo2 en un div2</p>
    </div>

  </div>
</template>

<script>
export default {
  data() {
    return {
      color: 'yellow',
      activado: false,
      color2: 'red'
    }
  }
}
</script>
<!-- Si no ponemos la etiqueta scoped los estilos se aplican globalmente. Para que los estilos solo se apliquen al componente en el que se han definido,
tenemos que añadir el atributo scoped en la etiqueta style -->
<style scoped>
  .letraNaranja {
    color: orange;
  }

  .fondoNegro {
    background-color: black;
  }
  .textoDerecha {
    text-align: right;
  }
  .alto {
    height: 500px;
  }
  .ancho {
    width: 500px;
  }
  .fondoAzul {
    background-color: blue;
  }
 
</style>