<template>
  <div>
      <h1 class="titu">Bienvenido a la máquina de ganar dinero!!!!</h1>
      <h3 class="titu">Solo debes añadir o restar la cantidad que aparece en pantalla y retirar tu dinero</h3>
      <button @click="add(100)">Sumar 100€</button>
      <button @click.stop="add(500)">Sumar 500€</button>
      <input type="text" v-model="dinero">
      <button @click="subtract(100)">Restar 100€</button>
      <button @click.stop="subtract(500)">Restar 500€</button>
      <br><br>
      <button @click="resetearDinero">Resetear tu dinero</button>
      <br><br>
      <a href="https://www.bancosantander.es/es/particulares" @click.prevent="showLink">Recoge tu dinero!</a>
      <Texto @mouseover.native="showText"/>

  </div>


</template>

<script>
import Texto from './Texto';
export default {
    components: {
    Texto
    },
    data(){
        return{
            dinero: 0
        }
    },
    
    methods:{
        resetearDinero(){
            this.dinero = 0;
        },
        add(money){
            this.dinero = this.dinero +money;
        },
        subtract(money){
            this.dinero = this.dinero -money;
        },
        showLink(e) {
            alert('Lo sentimos, hay crisis no puedes acceder a ' + e.target.href);
        },
        showText(e) {
            alert(e.target.textContent)
        }
    }

}

</script>

<style>
    .titu{
        color:crimson
    }
</style>