<template>
  <div>
    <h1>Gracias por venir, vuelva pronto!</h1>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
  div {
    height: 50px;
    color: transparent;

  }
</style>